@import "tailwindcss";
body{
   background-image: url('/Bg-img.svg');
}
*{
  overflow-x: hidden;
 
}
@font-face {
  font-family: neu1;
  src: url('/NeueMachina-Regular_DQCmjH1st.ttf');
}
@font-face {
  font-family: neu2;
  src: url('/NeueMachina-Light_gwWCZxVuQl.ttf');
}
@font-face {
  font-family: hell;
  src: url('/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2');
}
:root{
  --green:#27DFB3;
}
